name: pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        # we assume it also works for inbetween versions
        python-version: ["3.9", "3.12", "3.14"]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .
    - name: list env contents
      run: |
        pip list
    - name: Lint with flake8
      run: |
        flake8 . --max-line-length=88 --extend-ignore=E501 --exclude=docs/examples
    - name: Test with pytest
      run: |
        pytest --cov=ddlpy --cov-report xml --cov-report term
    - uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
